*.o
*.a
*.so
*.lo
*.la

#automotive/basicmath/basicmath_small
#automotive/basicmath/basicmath_large
#office/stringsearch/search_small
#office/stringsearch/search_large
#network/dijkstra/dijkstra_small
#network/dijkstra/dijkstra_large
#security/sha/sha
#security/rijndael/rijndael

output*
*.enc
*.dec
